@media (max-width: 1120px) {
    #footer .footer_info {
        flex-direction: column;
    }   
}

@media (max-width: 1035px) {
    .nav_info {
        justify-content: space-around;
    }
    
    .Menu_label {
        display: block;
        transition: 0.5s color ease-in;
        font-size: 30px;
    }

    .Menu_label:hover {
        color: greenyellow;
        cursor: pointer;
    }
    
    .nav_info_gui {
        position: fixed;
        top: 0;
        transform: translateY(-200%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: ghostwhite;
        display: flex;
        flex-direction: column;
        transition: 1s all ease;
        z-index: 5;
    }

    .menu {
        flex-direction: column;
    }

    #Menu_btn:checked~#nav_info_gui {
        transform: translateY(0);
    }
}

@media (max-width: 980px) {
    .Title_Header_info {
        flex-direction: column;
    }

    .Title_Header_info_img {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .Akcii_info,
    .News_info,
    .Pay_earlier_info {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'box box2'
        'bxo3 box4';
       
    }

    .Imporov_offer_Title {
        justify-content: center;
    }
  
    .Imporov_offer_info {
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    #footer .footer_info ul {
        flex-direction: column;
    }   
}


@media (max-width: 550px) {
    .Akcii_info,
    .News_info,
    .Pay_earlier_info {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .Akcii_Title,
    .News_Title,
    .Pay_earlier_Title {
        flex-direction: column;
        align-items: center;
    }

    .Imporov_offer_left,
    .Imporov_offer_rigth {
        flex-direction: column;
        height: auto;
    }

    .Our_shop_Title {
        justify-content: center;
    }

    .Our_shop_nav_menu {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'box box2'
        'box3 box4';
    }

    .Our_shop_nav {
        justify-content: center;
    }
}

