@media (max-width: 1120px) {
    #footer .footer_info {
        flex-direction: column;
    }   
}

@media (max-width: 1035px) {
    .nav_info {
        justify-content: space-around;
    }
    
    .Menu_label {
        display: block;
        transition: 0.5s color ease-in;
        font-size: 30px;
    }

    .Menu_label:hover {
        color: greenyellow;
        cursor: pointer;
    }
    
    .nav_info_gui {
        position: fixed;
        top: 0;
        transform: translateY(-200%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: ghostwhite;
        display: flex;
        flex-direction: column;
        transition: 1s all ease;
        z-index: 5;
    }

    .menu {
        flex-direction: column;
    }

    #Menu_btn:checked~#nav_info_gui {
        transform: translateY(0);
        position: fixed;
    }
}

@media (max-width: 750px) {
    #footer .footer_info ul {
        flex-direction: column;
    }   
}

@media (max-width: 580px) {
    #main .container #Info_main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        'box box2'
        'bxo3 box4'
        'box5 box6';
        gap: 30px;
    }

    #Title_main h1 {
        font-size: 50px;
    }
}

@media (max-width: 385px) {
    #main .container #Info_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 335px) {
    #main .container .Izbranoy_gui .Izbranoy_gui_info .Izbranoy_gui_info_div {
        flex-direction: column;
        gap: 30px;
    }
}